<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Algo aqui</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam obcaecati dicta vitae deleniti animi
      ratione, nesciunt totam veritatis eos dolorum voluptatem magnam, minus possimus quod recusandae culpa aut sed?</p>
    <ion-button (click)="irParaOutraPagina()">
      Ir para Resultado
    </ion-button>
  </div>



</ion-content>