<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>
      Hiragana X Katakana
    </h1>
    <p>
      Este aplicativo tem como objetivo auxiliar o aprendizado dos caracteres japoneses básicos, como Hiragana e
      Katakana.</p>
    <p>
      A ideia surgiu durante a aula da turma de Japonês A1 do programa Idioma Sem Fronteiras (ISF), baseado no <a
        href="https://jptw.main.jp/osudake/osudake.html" target="_blank">OSUDAKE</a> utilizando da ideia de clicar na
      ordem correta dos hiragana, mas com a opção de utilizar Katakana também, futuramente com mais possibilidades de
      novas formas de aprendizado da lingua japonesa.
    </p>
  </div>

</ion-content>