.hiragana {
    margin: 20px auto;
    max-width: 540px;
    width: 100%;

    ion-col {
        background-color: white;
        border: 3px solid grey;
        border-radius: 20px;
        cursor: pointer;
        margin: 10px;
        padding-top: 5px;
        text-align: center;
        max-width: 15%;

        &.active {
            border: 3px solid #2dd55b;
        }

        &.chiisai {
            max-width: 20%;
        }
    }
}

.background-white {
    background-color: white;
}

.text-center {
    text-align: center;
    padding: 20px;

    ion-icon {
        color: white !important;
    }
}

.block {
    h3 {
        margin: 14px
    }
}