<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Osudake</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Osudake</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div *ngFor="let card of cards1" class="osu" [ngClass]="card.color" [style.top.%]="card.top"
      [class.success]="selected.includes(card.char)" (click)="selectOptions(card.char)" [style.left.%]="card.left"
      style="background-image: url('assets/{{type$ | async}}/glyphs/{{card.char}}.png');">
    </div>
  </div>
  <!-- <br> <br>
  <div class="container">
    <div *ngFor="let card of cards2" class="osu" [ngClass]="card.color" [style.top.%]="card.top"
      [style.left.%]="card.left" style="background-image: url('assets/{{type$ | async}}/glyphs/{{card.char}}.png');">
    </div>
  </div>
  <br> <br>
  <div class="container">
    <div *ngFor="let card of cards3" class="osu" [ngClass]="card.color" [style.top.%]="card.top"
      [style.left.%]="card.left" style="background-image: url('assets/{{type$ | async}}/glyphs/{{card.char}}.png');">
    </div>
  </div>
  <br> <br>
  <div class="container">
    <div *ngFor="let card of cards4" class="osu" [ngClass]="card.color" [style.top.%]="card.top"
      [style.left.%]="card.left" style="background-image: url('assets/{{type$ | async}}/glyphs/{{card.char}}.png');">
    </div>
  </div>
  <br> <br>
  <div class="container">
    <div *ngFor="let card of cards5" class="osu" [ngClass]="card.color" [style.top.%]="card.top"
      [style.left.%]="card.left" style="background-image: url('assets/{{type$ | async}}/glyphs/{{card.char}}.png');">
    </div>
  </div> -->


</ion-content>