.container {
  position: relative;
  max-width: 400px;
  width: 100%;
  /* altura proporcional */
  aspect-ratio: 0.8;
  margin: auto;
  // border-radius: 8px;
  // background: #f9f9f9;
  // border: 1px solid #ddd;
}

.card {
  position: absolute;
  width: 12vw;
  /* tamanho relativo ao viewport */
  max-width: 60px;
  aspect-ratio: 1 / 1;
  font-size: 42px;
  min-inline-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: white;
  border-radius: 4px;
  user-select: none;
  box-sizing: border-box;
  cursor: default;
  color: black;
  transform: translate(-50%, -50%);
}

.red {
  border: 3px solid #FFA500 !important;
}

.blue {
  border: 3px solid #9463f0 !important;
}

.osu {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  border: 4px grey solid;
  background-color: white;
  background-size: 140%;
  border-radius: 20px;

  position: absolute;
  transform: translate(-50%, -50%);

  &.success {
    border: 4px #2dd55b solid;
  }

  &.error {
    border: 4px #f24c58 solid;
  }
}