.osu {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border: 4px grey solid;
    background-color: white;
    background-size: 140%;
    border-radius: 20px;
    margin: 10px;

    &.success {
        border: 4px #2dd55b solid;
    }

    &.error {
        border: 4px #f24c58 solid;
    }
}

.content {
    padding: 10px 20px;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid #000;
    margin: 0 auto;
}

.toast-layout-baseline .toast-content {

    .success-toast {
        background: #e6f9f0;
        color: #1b5e20;
    }

    .toast-success {
        display: flex;
        align-items: center;
        gap: 12px;

        .text {
            display: flex;
            flex-direction: column;
            color: white;
        }

        .title {
            font-weight: bold;
            font-size: 15px;
            color: white;
        }

        .jp {
            font-size: 14px;
            color: #00695c;
        }
    }
}