<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" [routerLink]="['/tabs/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>Lição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <div class="content">
      <ng-container *ngIf="etapaAtual < etapasMaximas">
        <div *ngFor="let lesson of randomLessons; index as i" class="lesson">
          <ng-container *ngIf="etapaAtual - 1 == i ">
            <div class="image" style="background-image: url('assets/lessons/ie.jpg');"
              (click)="play('lesson/' + lesson.romanji)"></div>

            <div class="text">
              <p><strong>Português:</strong><br> {{lesson.portuguese}}</p>

              <p><strong>Romanji:</strong><br> {{lesson.romanji}}</p>
            </div>
          </ng-container>
        </div>

        <div class="glyphs">
          <ng-container *ngFor="let option of options">
            <div [class.success]="selected.includes(op)" [class.error]="selectedError.includes(op)" (click)="clicar(op)"
              *ngFor="let op of option" id="{{op}}" class="osu"
              style="background-image: url('assets/{{type$ | async}}/glyphs/{{op}}.png');">
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="etapaAtual == etapasMaximas">
        <div class="congratz" style="background-image: url('assets/fuji.jpg');">
          <h1>Ometedou!</h1>
          <h1>おめでとう</h1>
        </div>
      </ng-container>
    </div>
  </div>


</ion-content>