.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: calc(100% - 18px);
    max-width: fit-content;
    min-height: 500px;

    margin: 20px auto;
    padding: 20px;

    border: 1px solid #b0b0b0;
    border-radius: 24px;

    text-align: center;
    box-sizing: border-box;

    .lesson {
        display: inline-flex;
        margin-bottom: 20px;

        .image {
            width: 50%;
            min-width: 200px;
            height: 200px;
            margin-right: 15px;
            margin-left: 10px;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;


        }

        .text {
            width: 40%;
            margin-top: 10px;
            text-align: left;
        }
    }

    .glyphs {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}

.osu {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border: 4px grey solid;
    background-color: white;
    background-size: 140%;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 10px;

    @media screen and (min-width:768px) {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    &.success {
        border: 4px #2dd55b solid;
    }

    &.error {
        border: 4px #f24c58 solid;
    }
}